#---- R auxiliary files -----
.Rproj.user
.Rhistory
.RData
.Ruserdata

#---- MAC auxiliary files -----
.DS_store

#---- LaTeX auxiliary files ----
*.aux
*.bbl
*.bcf
*concordance.tex
*converted-to.pdf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.run.xml
*.synctex.gz
*.toc

#---- HTML files ----
README.html
